.wrapper {
  height: 30vh;
  width: 50vw;
}
.signupWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
